* {
  box-sizing: border-box;
  text-align: center;
}

html {
  font-size: 14px;
  font-family: Verdana;
}


.header,
.sidebar,
.navigation,
.footer,
.content {
  border-radius: 6px;
  padding: 10px 15px;
  margin: 0 10px 24px 10px;
}

.header {
  text-align: center;
  font-size: 46px;
  background: magenta;
  display: block;
}

.navigation {
  float: left;
  width: 25%;
  font-size: 12px;
  background: blue;
  display: inline-block;
}

.content {
  width: 30%;
  border-style: double;
  border-color: #2db34a;
  border-radius: 6px;
  margin-bottom: 20px;
  font-size: 14px;
  display: inline-block;
}

.sidebar {
  width: 25%;
  font-size: 10px;
  background: magenta;
  display: inline-block;
}

.headline, article, .footline {
    background-color: #999999;
    margin: 0.5rem;
    padding: 1rem;
    border-radius: 0.5rem;
}

div {
  display: flex;
}

.navigation,
.sidebar {
  flex: initial;
}

.content {
  flex: auto;
}

.footer {
  font-size: 10px;
  background: magenta;
}
